@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@1,500&family=Roboto:wght@300&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital@1&display=swap');




.Nav-background{
  background-color: lightgray;
  height: 5vw;
}

.nav-list{
  margin-left: 900px;
}


.main-nav {
  float: left;
  width: 100%;
  padding: 20px;
  list-style: none;
  display: inline-flex;
  margin: auto;
  border: 50px;
  margin-top: -88px;
  background-image: url('../src/assets/_elementy_gradient_menu.png');
  background-position: -50px;
  background-size: auto;
}

li {
  padding: 0px;
  margin-right: 71px;
  font-family: cursive;
  margin-bottom: 25px;
}
  
li:hover {
  color: blue;
  background: aqua;
  border: 1px solid blue;
}

.top-ap{
  margin-left: 350px;
  font-size: 77px;
  display: inline-flex;
  padding: 0;
}

.fab fa-facebook-f{
  font-size: 20px;
}

li#li F {background-position: -160px 0px;}

span{
    font-family: 'Red Hat Display', sans-serif;
}

.nav-wrapper{
    display: inline-flex;
    background-color: lightgrey;
    background-size: 100vw;
    width: 99vw;
    height: 10vw;
}

#ap{
    display: inline-flex;
    margin-right: 477px;
    margin-left: 500px;
    font-size: 50px;
    font-family: 'Wallpoet', cursive;
}

.LOGO{
    width: 50vw;
}

.main-nav{

    width: 41vw;
    padding: 56px;
    list-style: none;
    display: inline-flex;
    margin: auto;
    border: 50px;
    box-sizing: border-box;
    background-image: url(../src/assets/_elementy_gradient_menu.png)

}

li{
    padding: 10px;
    margin-right: 25px;
}

li:hover {
    color: blue;
    background: aqua;
    border: 1px solid blue;
}

.ap1{
    word-break: break-word;
    height: 100px;
    width: 120px;
    font-family: 'Wallpoet', cursive;
}

span{
    word-break: break-word;
}


.about-me{
    height: 540px;
    width: 100vw;
    margin-top: 30px;
    
}

.cv{
    margin-left: 200px;
}

.kolo{
    position: absolute;
    margin-left: -860px;
    margin-top: -240px;
}

.kolo1{
    position: absolute;
    margin-left: 1380px;
    margin-top: -510px;
}

.about-me-txt{
    position: absolute;
    margin-left: 730px;
    margin-top: 80px;
    font-size: 15px;
    box-shadow: 3px 3px lightgrey;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

h3{
    color: burlywood;
}

.works{
    margin-left: 400px;
    margin-top: 37px;
    font-size: 26px;

}

.dev_icon{
    margin-left: 0px;

}

.about-me-works{
    display: inline-flex;

}

.contact-me{
    height: 140px;
    width: 24vw;
    margin-left: 1278px;
    margin-top: -160px;
}

.buttons{
    display: inline-flex;
    margin-top: 10px;
}

.button1{
    width: 100px;
    height: 30px;
    margin-right: 50px;
    background-image: url(../src/assets/button_01.png);
    background-position-x: center;
    background-position-y: center;
    box-shadow: 3px 3px lightgrey
}

.button2{
    width: 125px;
    height: 30px;
    background-image: url(../src/assets/button_01.png);
    background-position-x: center;
    background-position-y: center;
    box-shadow: 3px 3px lightgrey
}

.p-hire-me{
    margin-top: 5px;
}

.Hire-me{
    padding: 0px 21px;
}

.p-dw-me{
    margin-top: 5px;
}

.dw-me{
    padding: 0px 13px;
}


.main-descr{
    width: 100vw;
    height: 550px;
    display: inline-flex;
}

.descr{
    width: 50vw;
    height: 550px;
}

.skills{
    width: 49vw;
    height: 550px;
    box-shadow: 3px 3px lightgrey;
    border-radius: 10px;
}


.easybutton{
    display: inline-flex;
    margin-left: 630px;
    margin-top: -20px;
}

.easycodebutton{
    width: 100px;
}

/* SKILLS */

.wykres-back{
    height: 35px;
    width: 700px;
    background-color: lightgrey;
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
}

#wykres1{
    width: 100%;
    background-image: url(../src/assets/tło_gradient.png);
    padding: 10px 0px;
    margin-top: -1px;
    border-radius: 10px;
    text-align-last: end;
}

#wykres2{
    width: 90%;
    background-color: lightpink;
    padding: 9px 0px;
    margin-top: -2px;
    border-radius: 10px;
    text-align-last: end;
}
#wykres3{
    width: 90%;
    background-color: lightpink;
    padding: 9px 0px;
    margin-top: -1px;
    border-radius: 10px;
    text-align-last: end;
}
#wykres4{
    width: 60%;
    background-color: lightpink;
    padding: 9px 0px;
    margin-top: -2px;
    border-radius: 10px;
    text-align-last: end;
}
#wykres5{
    width: 90%;
    background-color: lightpink;
    padding: 9px 0px;
    margin-top: -1px;
    border-radius: 10px;
    text-align-last: end;
}
#wykres6{
    width: 60%;
    background-color: lightpink;
    padding: 9px 0px;
    margin-top: -2px;
    border-radius: 10px;
    text-align-last: end;
}

/* TOOLS */

.tools-wrapper{
    width: 100vw;
    height: 300px;
    background-image: url(../src/assets/tło_gradient.png);
    
}

.tools{
    display: inline-flex;
    
}

.tools > div{
    height: 100px;
    width: 100px;
    margin-right: 70px;
    text-align-last: center;
    background-color: white;
}

.tools > span{
    color: black;
}

.react_icon{
    text-align: -webkit-center;
}

.icon-square_icon{
    width: 100px;
    height: 64px;
}

.icon-square{
    height: 61px;
    margin-left: 17px;
    font-size: 12px;
}

.express_icon{
    text-align: -webkit-center;
    height: 61px;
    width: 100px;
}

.styled_comps{
    width: 100px;
    height: 64px;
}

.styled_comps_icon{
    font-size: 12px;
}

.redux_icon{
    width: 100px;
    height: 64px;
}

.redux{
    height: 61px;
    margin-left: 17px;
    font-size: 12px;
}

.flexbox_icon{
    width: 100px;
    height: 64px;
}

.flexbox{
    height: 61px;
    margin-left: 17px;
    font-size: 12px;
}

.tool_program_icon{
    width: 100px;
    height: 64px;
}

.tool_program{
    height: 61px;
    margin-left: 17px;
    font-size: 12px;
}
.tool_program_icon2{
    width: 100px;
    height: 64px;
}

.tool_program2{
    height: 61px;
    margin-left: 17px;
    font-size: 12px;
}

/* PORTOFIO */

.my-works-main-wrapper{
    width: 100vw;
}

.portfolio_case > div{
    width: 30vw;
    height: 270px;
    margin: 10px;
    display: inline-block;
    text-align-last: center;
    box-shadow: 2px 2px lightgrey;
}

/* BLOG POST */

.blogs-wrapper{
    width: 100vw;
}

.blogs{
    display: inline-flex;
    margin-bottom: 10px
}

/* CONTACT ME */

.contact-wrapper{
  background-image: url(../src/assets/tło_gradient.png);
    width: 100vw;
    height: 500px;
}

.contact1{
    width: 50vw;
}

input{
    width: 30vw;
    height: 40px;
}

textarea{
    width: 30.1vw;
    height: 200px;
}

.send_button{
    height: 50px;
    width: 130px;
    vertical-align: bottom;
}

.contact{
    display: inline-flex
}

.contact2{
    width: 49vw;
    display: inline-flex;
}

.contact_txt{
    position: absolute;
    margin-left: 200px;
    margin-top: 140px;
    background-color: #ffffff;
    display: inline-flex;
    align-items: center;
}

.contact_img{
    margin-left: 300px;
    display: grid;
}
